/* Add custom style here  */


header.theme-dark { background-color: var(--blue-700) }

#hero-1 {margin-bottom: 48px}


#hero-2 header.theme-light .container-btn a.btn:nth-child(1):link,
#hero-2 header.theme-light .container-btn a.btn:nth-child(1):visited { background-color: var(--green-500) }

#hero-2 header.theme-light .container-btn a.btn:nth-child(1):focus,
#hero-2 header.theme-light .container-btn a.btn:nth-child(1):hover,
#hero-2 header.theme-light .container-btn a.btn:nth-child(1):active { background-color: var(--green-500) }

#hero-2 header.theme-light .container-btn a.btn:nth-child(2):link,
#hero-2 header.theme-light .container-btn a.btn:nth-child(2):visited { background-color: var(--green-500) }

#hero-2 header.theme-light .container-btn a.btn:nth-child(2):focus,
#hero-2 header.theme-light .container-btn a.btn:nth-child(2):hover,
#hero-2 header.theme-light .container-btn a.btn:nth-child(2):active { background-color: var(--green-500) }

#hero-2 header h1 {
   font-family: 'Bebas Neue', sans-serif;
   text-transform: uppercase;
   letter-spacing: 4px;
font-size: calc(60px + (120 - 60) * ((100vw - 320px)/ (1600 - 320)));
}


#hero-3 h1 { 
   font-family: 'Abril Fatface', serif;
   font-size: calc(60px + (120 - 60) * ((100vw - 320px)/ (1600 - 320)));
}